@import "nib"

global-reset()

body
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

*
    transform-origin: 50% 50%

path
    transform: translateX(300px) scale(2)