@import "nib"

global-reset()

body
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

*
    transition: all 0.3s ease-in-out

.twitter-icon-group
    .twitter-outline
    .twitter-icon
        transform-origin: 50% 50%

    &:hover
        .twitter-outline
            transform: scale(0)

        .twitter-icon
            transform: scale(2)
            stroke: #4099ff