@import "nib"

global-reset()

body
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

@keyframes draw
    to
        stroke-dashoffset: 563

.path
    stroke-dasharray: 563
    animation: draw 2s reverse forwards